.fc-event {
  background-color: $primary !important;
  color: white !important;
}

.fc-col-header-cell-cushion {
  display: inline-block !important;
  text-decoration: none !important;
  color: $primary !important;
}
