@import "bootstrap";

@import "components/index";
@import "pages/index";

$primary:   #4F46E5;
$success:   #06D6A0;
$warning:   #FFD166;
$light:     #F8FAFC;
$dark:      #1E293B;
$danger:    #EF476F;

$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;

.primary {
  color: $primary;
}

.rounded-xs {
  border-radius: $border-radius-sm !important;
}

.rounded-lg {
  border-radius: $border-radius-lg !important;
}

.rounded-xl {
  border-radius: $border-radius-xl !important;
}
